header{
    width: 100%;
    display: inline-table;
}
body{
    background-color:black;
}
img{
    height: 4cm;
    margin-left: 3ch;
    margin-top: 3ch;
    float: left;
    display: flex;
}
.menu{
    height: 4cm;
    margin-left: 3ch;
    margin-top: 10ch;
    float: right;
    display: flex;
}
li{
    display: inline-block;
}
div ul{
    position: relative;
    display: flex;
    margin-right: 3cm;
}
div ul li a{
    display: inline-block;
    display: flex;
    font-size: 25px;
    margin-left: 30px;
    text-decoration: none;
    color:whitesmoke;
    
}
.content{
    width: 100%;
    display: inline-table;

}
#para{
    color: white;
    margin-left: 2cm;
    float: left;
    width: 10cm;
}

.cococola{
    float: right;
    margin-right: 4cm;
    height: 8cm;
    

}
span{
    color: turquoise;
}
footer{
    width: 100%;
    display: inline-block;
}
.img1,.img2{
    height: 1cm;
    width: 1cm;
    display: inline-block;

}table{
    float: right;
    margin-right: 6.5cm;
}
